.eventlist {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0,0,0,0.05);
    }

    &--active {
      background-color: rgba(16, 185, 129, 0.15);
    }
  }
}
