
.layout {
  min-height: calc(100vh - var(--header-height, 64px));
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 16px;
  padding: 16px;
  background: #f6f7f8;
}


.main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 24px;
  width: 100%;
}


.layout--participants .main,
.layout--tags .main {
  grid-template-columns: 1fr;
}

.layout--participants .list-column,
.layout--tags .list-column {
  display: none;
}


.list-column {
  width: 100%;
}

.detail-column {
  width: 100%;
}

/* Responsive */

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: -1;
  }
}
