@mixin card {
  background-color: var(--bg-elev);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow:
          0 1px 2px rgba(0,0,0,0.04),
          0 8px 24px rgba(0,0,0,0.06);
}
