@use 'mixins' as *;

.sidebar {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--font-muted);
    margin-bottom: 4px;
  }
}
