@import "colors";
@import "header";
@import "layout";
@import "contant";
@import "mixins";
@import "sidebar";
@import "buttons";
@import "forms";
@import "detail";
@import "list";
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body{
  background-color: #f3f4f6;
}

.app {
  margin: 0;
  background-color: var(--bg);
  color: var(--font-color);
  font-family: 'Inter', system-ui, sans-serif;
}
