@use "colors";
@use "mixins";
@use "header";
@use "layout";
@use "sidebar";
@use "buttons";
@use "forms";
@use "list";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100%;
  background-color: var(--bg);
  color: var(--font-color);
  font-family: 'Inter', system-ui, sans-serif;
}
